<header>
  <!-- header inner -->
  <div class="header">
	  <div class="container">
		  <div class="row">
			  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
				  <div class="full">
					  <div class="center-desk">
						  <div class="logo"> <a href="index.html"><img src="/TemplateLibraryHomePage/images/logo.png" alt="#"></a> </div>
					  </div>
				  </div>
			  </div>
			  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
				  <div class="menu-area">
					  <div class="limit-box">
						  <nav class="main-menu">
							  <ul class="menu-area-main" id="header_navigation_container">
								  <li class="active"> <a href="/">Home</a> </li>
								  <li> <a href="#">About us</a> </li>
								  <li><a href="#">Our Books</a></li>
								  <li><a href="#">library</a></li>
								  <li><a href="#">Contact us</a></li>
								  <!-- TODO -->
								  <li hidden class="mean-last" id="header_profile_menu_item"> <a href="/profile"><img src="/TemplateLibraryHomePage/images/top-icon.png" /></a> </li>
								  <!-- TODO -->
								  <li id="header_menu_item_login"><a href="/login">Login</a></li>
								  <li id="header_menu_item_logout" hidden><a>Logout</a></li>
							  </ul>
						  </nav>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>

	<!-- end header inner -->
</header>
<script type="module" src="/js/page_header.mjs"></script>
@RenderBody()
