@page
@model LibararyWebApplication.Pages.Librarian.RentalManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rental.UserId" class="control-label"></label>
                <select asp-for="Rental.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rental.BookCopyId" class="control-label"></label>
                <select asp-for="Rental.BookCopyId" class ="form-control" asp-items="ViewBag.BookCopyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rental.Status" class="control-label"></label>
                <input asp-for="Rental.Status" class="form-control" />
                <span asp-validation-for="Rental.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.RentalDate" class="control-label"></label>
                <input asp-for="Rental.RentalDate" class="form-control" />
                <span asp-validation-for="Rental.RentalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.DueDate" class="control-label"></label>
                <input asp-for="Rental.DueDate" class="form-control" />
                <span asp-validation-for="Rental.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.CreatedAt" class="control-label"></label>
                <input asp-for="Rental.CreatedAt" class="form-control" />
                <span asp-validation-for="Rental.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.UpdatedAt" class="control-label"></label>
                <input asp-for="Rental.UpdatedAt" class="form-control" />
                <span asp-validation-for="Rental.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
