@page "/forgotpassword"
@model LibararyWebApplication.Pages.ForgotPasswordModel
@{
}

<link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container" id="container">
    <form id="form">
        <div class="form-group">
            <label for="email">Please enter your email address to reset your password.</label>
            <input type="email" class="form-control" id="email" placeholder="Email address" required />
        </div>
        <div class="form-group">
            <button id="submit_button" type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<script type="module" src="/js/forgotpassword.mjs"></script>
