@page "/indextest"
@model LibararyWebApplication.Pages.IndexModel
@{
}

<h1>@Model.current_host</h1>
<div>
    <h1>id</h1><div id="id"></div>
    <h1>title</h1><div id="title"></div>

    <button id="list_using_localstorage_token">list_using_localstorage_token</button>
    <pre id="data_output">

    </pre>
    <h1>cookie</h1>
    <h1>@Model.token_cookie</h1>
</div>
<div>
    <h1>list_books_response_json</h1>
    <pre>@Model.list_books_response_json</pre>
</div>


<div id="user-info" style="display:none;">
    <h3>Already logged in as:</h3>
    <div id="user-details"></div>
    <button id="logout-btn">Logout</button>
</div>

<script src="~/js/index.js"></script>
