@page "/login"
@model LibararyWebApplication.Pages.LoginModel
@{
}
@await Html.PartialAsync("HomeLayoutHeader")

<link href="/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container" id="user-info" style="display:none;">
    <h3>Already logged in as:</h3>
    <pre id="user-details"></pre>
    <button id="logout-btn">Logout</button>
</div>
<div class="container" id="login_container">
    <h2>Login</h2>
    <form id="login-form">
        <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="Username" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
        </div>
        <div class="form-group">
            <button id="login_button" type="submit" class="btn btn-primary">Login in</button>
        </div>
        <div class="form-group">
            <a href="/forgotpassword">Forgotten Password?</a>
        </div>
    </form>
</div>

<script type="module" src="/js/login.mjs"></script>
