@page "/resetpassword"
@model LibararyWebApplication.Pages.ResetPassword

@{
    if (Model.IsValidToken)
    {
        <div class="container">
            <h2>Reset Password</h2>
            <form method="post">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required />
                    <input type="hidden" id="token" name="token" value="@Model.ResetPasswordToken" />
                </div>
                <button id="submit_button" type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    }
    else
    {
        <h2>Invalid or expired token</h2>
    }
}

@{
    if(Model.ErrorMessage != null)
    {
        <div class="container">
            <h3>Error</h3>
            <pre>@Model.ErrorMessage</pre>
        </div>
    }
}

<script type="module" src="/js/resetpassword.mjs"></script>
