@page "/login"
@model LibararyWebApplication.Pages.LoginModel
@{
}

<h2>Login</h2>
<div id="user-info" style="display:none;">
    <h3>Already logged in as:</h3>
    <div id="user-details"></div>
    <button id="logout-btn">Logout</button>
</div>
<div id="login_container">
    <form id="login-form">
        <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="Username" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
        </div>
        <div class="form-group">
            <button id="login_button" type="submit" class="btn btn-primary">Login in</button>
        </div>
        <div class="form-group">
            <a href="/forgotpassword">Forgotten Password?</a>
        </div>
    </form>
</div>

<script src="~/js/login.js"></script>
