@page "/counter"
@using LibararyWebApplication
@using Newtonsoft.Json
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="render_ui">render_ui</button>

<pre>
    @response_str_json
</pre>

@* @foreach(var item in news_list)
{
    <div>ID: @item.Id</div>
} *@
@code {
    private string response_str_json = "";
    private int currentCount = 0;
    @* private List<News> news_list = []; *@

    private void IncrementCount()
    {
        currentCount++;
    }
    private void render_ui()
    {
        @* HttpClient httpClient = new HttpClient();
        var task1 = httpClient.GetAsync("https://localhost:7129/api/News");
        task1.Wait();
        // task1.IsCompletedSuccessfully
        var response = task1.Result;
        var task2 = response.Content.ReadAsStringAsync();
        task2.Wait();
        string response_str = task2.Result;

        response_str_json = response_str;

        var news_list = JsonConvert.DeserializeObject<List<News>>(response_str);

        // news_list[i]
        this.news_list = news_list; *@
    }
}
